# Development environment
POSTGRES_DB=xiaohongmao
POSTGRES_USER=xiaohongmao
POSTGRES_PASSWORD=xiaohongmao_dev
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=xiaohongmao
MINIO_ROOT_PASSWORD=xiaohongmao_dev_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

BACKEND_PORT=8000
FRONTEND_PORT=5173
